[run]
branch = True

# see http://nedbatchelder.com/code/coverage/config.html
# specifying source files http://nedbatchelder.com/code/coverage/source.html
include = */nxmctree/*
omit =
	runtests.py
	*/nxmctree/tests/*
